<div class="container">
    <div class="side-bar">

    </div>
    <div class="main">
        <header>
            <h1>ToDo</h1>
        </header>
        <section>
            <ul>
                <li *ngFor="let todo of todos, let i = index">
                    <button *ngIf="todo.state=='toDo'" (click)="deleteToDo(i)"><i class="far fa-circle"></i></button>
                    <i class="fas fa-check-circle" *ngIf="todo.state=='done'"></i>
                    <p *ngIf="todo.state=='toDo'">{{todo.name}}</p>
                    <s *ngIf="todo.state=='done'">{{todo.name}}</s>
                </li>
                <li><button (click)="addToDo()"><i class="fas fa-plus-circle"></i></button><input placeholder="New Todo" id="input"></li>
            </ul>
        </section>
    </div>
</div>