<div class="container">
    <div class="side-bar">

    </div>
    <div class="main">
        <header>
            <h1>ToDo</h1>
        </header>
        <section>
            <ul>
                <li><i class="fas fa-check-circle"></i>ToDo 1</li>
                <li *ngFor="let todo of todos"><i class="far fa-circle"></i>{{todo.name}}</li>
                <li><button (click)="addToDo()"><i class="fas fa-plus-circle"></i></button><input placeholder="New Todo" id="input"></li>
            </ul>
        </section>
    </div>
</div>